<a href="https://colab.research.google.com/github/Rahyoyoung/BP_10_Ch6/blob/main/BP_10_Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2,101,2):#2~100사이 짝수만 범위 지정

    print(i, end=" ")#출력 값마다 공백

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [2]:
year = 0

balance = 1000#변수 값 지정

while balance <= 2000:# >= 를 <=로 변경

    year = year + 1 #+1씩 누적 카운트 적용

    interest = balance * 0.07# 7% 지정

    balance = balance + interest

print(year, "년 걸립니다.")

11 년 걸립니다.

In [3]:
n = 1234

sum = 0

#변수 값 지정

while n > 0 :

    digit = n % 10

    sum = sum + digit

    n = n // 10

print(sum)#10 출력

10

In [4]:
import random

a = random.randint(1, 10)

b = random.randint(1, 10)

#각각 1~10사이 랜덤값 생성 후 변수에 저장

com = a * b#com은 a*b

while True:

    uesr = int(input(str(a) + "*" + str(b) + "는 "))

    #루프 //사용자로 부터 값을 받아 user에 저장

    if (uesr == com):# 랜덤 값과 입력 값이 같으면

        print("맞았습니다.")

        break

        #"맞았습니다."출력 후 루프문 멈춤

9*6는 54
맞았습니다.

In [5]:
sum = 0 #초기화

while True:

    a = int(input("정수를 입력하시오: "))

    #루프// 입력값을 받아 변수 저장

    if (a == 0):# 입력값이 0과 같다면

        break#루프문 종료

    sum += a#입력 값 하나씩 더하기

print("합은 ", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은  6 입니다.

In [6]:
import random

count = 0#초기화


while True:

    i = random.randint(1, 7)

    j = random.randint(1, 7)

    #각각 1~7까지 랜덤 값 생성 후 변수에 저장

    print("첫 번째 주사위 : ", i, "두 번째 주사위 : ", j)

    count += 1#누적 카운트

    if(count == 5):#카운트 5번이 되면

        break#루프문 종료

첫 번째 주사위 :  2 두 번째 주사위 :  7
첫 번째 주사위 :  5 두 번째 주사위 :  3
첫 번째 주사위 :  4 두 번째 주사위 :  4
첫 번째 주사위 :  5 두 번째 주사위 :  2
첫 번째 주사위 :  2 두 번째 주사위 :  3

In [ ]:
import turtle

t = turtle.Turtle()

t.shape("turtle")

count = 0

t.lt(90)

for i in range(6):#6번

    t.fd(100); t.fd(-30); t.lt(60); t.fd(30); t.fd(-30)

    t.rt(120); t.fd(30); t.fd(-30); t.lt(60); t.fd(-70); t.lt(60)

In [ ]:
import turtle


t=turtle.Turtle()

t.shape('turtle')

t.color('red')


for i in range(10):

    for j in range(1, 6):   #별을 그릴때 선의 갯수만큼 반복

        t.left(144)   #이동

        t.forward(150)  #이동

    t.left(10)

   
turtle.mainloop()

In [ ]:
import random

import turtle

t = turtle.Turtle()

t.shape("turtle")


for i in range(10):

    x = random.randint(-150, 150)

    y = random.randint(-150, 150)

    r = random.randint(1, 100)

    #각각 +- 150을 x,y에 저장 // 반지름은 1~100사이 r에 저장


    t.up()

    t.goto(x, y)

    t.down()

    t.circle(r)#반지름이  r인 원그리기

In [ ]:
import turtle

t = turtle.Turtle()

t.shape("turtle")

count = 0#초기화


while True:

    t.fd(100); t.rt(90); t.fd(20); t.rt(90)

    t.fd(100); t.lt(90); t.fd(20);t.lt(90)


    count += 1# 그릴때마다 누적 카운트 1

    if(count == 7):#카운트가 7 즉 7번 그리면

        break#루프문 종료

In [ ]:
import turtle


t = turtle.Turtle()

t.shape("turtle")

t.color('red', 'yellow')

t.begin_fill()#도형 안 색상 전부 채우기


while True:

    t.fd(200)

    t.lt(170)#이동

    if abs(t.pos()) < 1:#절대값이 1보다 작으면 즉, 0이 되면

        break#루프문 종료

t.end_fill()#그리기 종료

In [ ]:
import turtle

import math

t = turtle.Turtle()

t.shape("turtle")
t.color('red' , 'yellow')

for i in range(360):#360번 반복

    sine = math.sin(math.pi * i / 180.0)

    print(sine)

    t.goto(i, sine * 100)